.App {
  width: 85%;
}

.ui.form .field > label {
  font-size: 1.15em;
}

.ui.form .field .ui.input {
  width: 65%;
  min-width: 65%;
  max-width: 65%;
}

.ui.form .field .ui.input input,
.ui.form input[type="text"] {
  min-width: 100%;
}

.ui.collapsing.table {
  width: auto;
  max-width: 85%;
}
.header {
  background-color: rgba(89, 185, 192, 0.815);
  padding: 0;
  color: black;
  font-weight: bold;
}

.form {
  border: 2px solid darkblue;
  border-radius: 4px;
  background-color: whitesmoke;
}

strong {
  background: red;
  color: white;
  font-weight: inherit;
}

.highlight {
  background: yellow;
}

.table {
  border: 3px solid black;
}

.table.row {
  border: 3px solid black;
}
